################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjectEulerCS/.vs/ProjectEulerCS/v15/.suo
/ProjectEulerCS/ProjectEulerCS/bin/Debug
/ProjectEulerCS/ProjectEulerCS/obj/Debug
/ProjectEulerPy/.vs/ProjectEulerPy/v15/.suo
